# pip dependencies for aCT
# Note that arc is not in pip and must be installed from system packages,
# e.g. yum install python36-nordugrid-arc
#
mysql-connector-python  # connection to MySQL database
htcondor                # bindings to use HTCondor to submit jobs
pylint                  # for travis automatic tests
requests                # for APF mon calls

# For aCT client
pyopenssl
flask
gunicorn
sqlalchemy
